@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif; 
  
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(background.jpg);
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color:#00bcd4;
}
.contact .content p{
    
    font-weight: 300;
    color: #fff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
   
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    background-color: #fff;
}
.container .contactInfo .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px ;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo h3{
font-weight: 500;
color: #00bcd4;
}
.contactForm{
    width: 40%;
    padding:40px ;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-size: 500;
}
.contactForm .inputbox{
    position: relative;
    width: 100%;
   margin-top: 10px;
}
.contactForm input
{
    width: 100% ;
    padding: 5px 10px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
   
    
}
.contactForm textarea
{
    width: 100% ;
    padding: 5px 10px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    resize: none;
    
}
.contactForm span
{
   position: absolute;
   left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
    margin-top: -5px;
    
}
.contactForm input:focus ~ span, 
.contactForm input:valid ~ span, 
.contactForm textarea:focus ~ span, 
.contactForm textarea:valid ~ span{
    color: red;
    font-size: 12px;
    transform: translateY(-20%);
   
}
.contactForm input[type="submit"]
{
    width: 100px;
    background:#00bcd4 ;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    border: none;
}

@media (max-width:991px) {
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .contactForm{
        width: 100%;
    }
}
@media (min-width:321px) and (max-width:811px){
    .contactForm h2{
        font-size: 25px;
    }
}

@media (min-width:759px) and (max-width:1023px){
    .contactInfo{
        display: flex;
        justify-content: center;
        align-items: center;
        
    
    }
    
}

@media (min-width:281px) and (max-width:652px){
  
   
.contact{
    /* position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(background.jpg); */
    background-size: cover;
}
}